/* .projects-sidebar {
float:right;
} */
.center-block{
  margin-left: auto;
  margin-right: auto;
}

.panelstuff{
  padding: 2px;
}
.industrial{
  float:right

}
}
#notme{
  width: 60%;
}
#adios{
  float: right
  padding: 2px;
}
#lightsoft{
  color: lightblue;
}
